{% extends "base_generic.html" %}

{% block content %}
    <div style= "margin-left:20px;margin-top:20px">
        <h1>Nome: {{ author.first_name }} {{ author.last_name }} </h1>
        <p><strong>Data de nascimento:</strong> <a href="">{{ author.date_of_birth }}</a></p> <!-- author detail link not yet defined -->
        <p><strong>Data da morte:</strong> {{ author.date_of_death }}</p>
    </div>
    <div style= "margin-left:20px;margin-top:20px">
        <h2>Lista de livros escritos por {{ author.first_name }} {{ author.last_name }}</h2>
        <ul>
            {% for books in author.book_set.all %}
              <li>
                <p>{{ books.title }}</p>
              </li>
            {% endfor %}
          </ul>
    </div>
{% endblock %}